<div class="loader" style="z-index: 10;" *ngIf="load">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
<div class="full-page login-page" filter-color="black">
    <!--  you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                    <form #loginForm="ngForm" novalidate (ngSubmit)="login(loginForm)">
                        <div class="card card-login card-hidden">
                            <div class="card-header text-center" data-background-color="rose">
                                <h4 class="card-title">Login</h4>
                            </div>
                            <div class="card-content">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email address</label>
                                        <input type="text" class="form-control" name="email" [(ngModel)]="model.email"
                                        required  #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                                        <small [hidden]="email.valid || (email.pristine && !loginForm.submitted)" class="text-danger">
                                            Email is required and format should be <i>john@doe.com</i>.
                                          </small>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Password</label>
                                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                                        required  #password="ngModel">                                      
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-rose btn-simple btn-wd btn-lg" >Let's go</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="copyright pull-right">
                &copy;
                {{test | date: 'yyyy'}}
                <a href="https://www.creative-tim.com">Gritsa Technologies</a>
            </p>
        </div>
    </footer>
    <div class="full-page-background" style="background-image: url(../../../assets/img/login.jpeg) "></div>
</div>